*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: #f5f5f5;
}

/*Nav menu*/
.desktop_menu{
    background-color: #f5f5f5;
}

ul{
    width: 100vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: rgb(96, 118, 96);
}
ul li{
    cursor: pointer;
}
ul a{
    text-decoration: none;
    color: rgb(96, 118, 96);   
    padding: 10px; 
    font-size: 1.8rem;
}

ul a:hover{
    background-color: rgb(96, 118, 96);
    color: #f3f9fb;
    border-radius: 5px;
}

ul img{
    width: 10%;
}

/*first photo*/
main{
    width: 100%;
    position: relative;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.text_home{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #f3f9fb;
    
}
.text_home h1{
    font-size: 5.4rem;
    font-family: 'Rubik', sans-serif;
    color: #f3f9fb;
    animation: entradaTitulo 3s;
}
.text_home h4{
    animation: entradaTitulo 3s .5s;
    font-size: 2.4rem;
}

/*TIMER*/
.time_left{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    background-color: #f5f5f5;
}
.time_left div{
    color: #c0a080;
    font-size: 1.8rem;
}

.left_only h2{
    padding: 20px 0;
    font-family: 'Rubik', sans-serif;
    color: #607660;
    text-align: center;
    font-size: 3rem;
}

/*seccion historia*/
.our_wedding{
    position: absolute;
    top: 20%;
    right: 10%;
    color: #f3f9fb;
    font-size: 3rem;
}

.litte_story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
    gap: 20px;
    position: relative;
}

.text_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    color: rgb(96, 118, 96);
}
.text_story{
    text-align: justify;
    padding: 0 15px;
}

.text_story h2{
    color: #c0a080;
    font-size: 4.2rem;
}
.text_story p{
    font-size: 1.8rem;
}

.text_story img{
    width: 100%;
}
.image_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #607660;
}
.photo_walking{
    width: 100%;
}
.photo_walking img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.frame_more_about{
    position: absolute;
    bottom: 5%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.frame_more_about img{
    width: 20%;

}

.frame_more_about img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*font-family: 'Dancing Script', cursive;
font-family: 'Montserrat Alternates', sans-serif;font-family: 'Rubik', sans-serif;*/



/*ticker*/
.ticker {
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    position:relative;
    height:1.5em;
}

.ticker-title {
    color: #c0a080;
    text-transform: uppercase;
    display:flex;
    position:absolute;
    top:5px;
}

.ticker-title span {
    display: block;
    margin-right:50px;
}

/*siguiente seccion*/
.info_title{
    width: 100vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
}

.about_day{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: 'Rubik', sans-serif;
    color: #c0a080;
    

}

.about_day h3{
    font-size: 5rem;
    font-family: 'rubik', 'sans-serif';
    color: rgb(96, 118, 96);

}
.about_day h2{
    font-size: 2.4rem;
}
.photo_wedding{
    display: flex;
    justify-content: end;
}
.photo_wedding img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}


.paragraphs_info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 40px;
    text-align: justify;
    
}
.info_icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_icon img{
    width: 15%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.info h2{
    color: rgb(96, 118, 96);
    font-family: 'Rubik', sans-serif;
    font-size: 2.4rem;
}
.info p{
    margin: 30px 0;
    color: rgb(96, 118, 96);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.6rem;
}
.info a{
    text-align: end;
    text-decoration: none;
    color: rgb(96, 118, 96);   
    padding: 10px; 
    font-family: 'rubik', 'sans-serif';
    font-size: 1.4rem;
}
.info a:hover{
    background-color: rgb(96, 118, 96);
    color: #f3f9fb;
    border-radius: 5px;
}
.phone_menu{
    display: none;
}

.nav_phone_menu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #f3f9fb;
    width: 100%;
    color: #607660;
}

.show {
    display: flex;
}




/*keyframes*/
@keyframes entradaTitulo {
    from {color: transparent;}
    to {color: #f3f9fb;}
}
@keyframes spinFrame {
    from {
        transform: rotate(180);
    }
    to {color: #f3f9fb;}
}


@media screen and (max-width: 670px) {
    
    .desktop_menu{
        display: none;
    }
    .phone_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(243, 249, 251);
        position: fixed;
        z-index: 1;
    }
    .phone_menu img{
        width: 25%;
    }
    .text_home{
        bottom: 2%;
        left: 5%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        width: 90%;
    }
    .text_home h1{
        font-size: 3rem;
    }
    .text_home h4{
        font-size: 1.8rem;
    }
    .menu_p img{
        width: 60%;
        cursor: pointer;
    }
    .litte_story{
        display: grid;
       grid-template-columns: 1fr;
       max-height: 800px;
    }
    .no_phone_img{
        display: none;
    }
    .frame_more_about{
        bottom: 30px;
    }
    .time_left{
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        gap: 30px 10px;
    }
    .about_day h3{
        font-size: 3rem;
    }
    .about_day h2{
        font-size: 1.8rem;
    }
    .slide img {
        height: 670px;
    }



    .nav_phone_menu li {
        padding: 10px;
        text-align: center;
    }
    
    .nav_phone_menu a {
        text-decoration: none;
        color: #607660;
    }
}