*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: #f5f5f5;
}

/*Nav menu*/
.desktop_menu{
    background-color: rgba(245, 245, 245);
}

ul{
    width: 100vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: rgb(96, 118, 96);
}
ul li{
    cursor: pointer;
}
ul a{
    text-decoration: none;
    color: rgb(96, 118, 96);   
    padding: 10px; 
    font-size: 1.8rem;
}

ul a:hover{
    background-color: rgb(96, 118, 96);
    color: #f3f9fb;
    border-radius: 5px;
}

ul img{
    width: 10%;
}

/*first photo*/
.photos_main{
    width: 100%;
    position: relative;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.text_home{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #f3f9fb;
    
}
.text_home h1{
    font-size: 5.4rem;
    font-family: 'Rubik', sans-serif;
    color: #f3f9fb;
    animation: entradaTitulo 3s;
}
.text_home h4{
    animation: entradaTitulo 3s .5s;
    font-size: 2.4rem;
}

/*TIMER*/
.time_left{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    background-color: #f5f5f5;
}
.time_left div{
    color: #c0a080;
    font-size: 1.8rem;
}

.left_only h2{
    padding: 20px 0;
    font-family: 'Rubik', sans-serif;
    color: #607660;
    text-align: center;
    font-size: 3rem;
}

/*seccion historia*/
.our_wedding{
    position: absolute;
    top: 20%;
    right: 10%;
    color: #f3f9fb;
    font-size: 3rem;
}

.litte_story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
    gap: 20px;
    position: relative;
}

.text_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    color: rgb(96, 118, 96);
}
.text_story{
    text-align: justify;
    padding: 0 15px;
}

.text_story h2{
    color: #c0a080;
    font-size: 4.2rem;
}
.text_story p{
    font-size: 1.8rem;
}

.text_story img{
    width: 100%;
}
.image_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #607660;
}
.photo_walking{
    width: 100%;
}
.photo_walking img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.frame_more_about a{
    position: absolute;
    bottom: 5%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.frame_more_about img{
    width: 20%;

}

.frame_more_about img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/*ticker*/
.ticker {
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    position:relative;
    height:1.5em;
}

.ticker-title {
    color: #c0a080;
    text-transform: uppercase;
    display:flex;
    position:absolute;
    top:5px;
}

.ticker-title span {
    display: block;
    margin-right:50px;
}

/*siguiente seccion*/
.info_title{
    width: 100vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
}

.about_day{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: 'Rubik', sans-serif;
    color: #c0a080;
    

}

.about_day h3{
    font-size: 5rem;
    font-family: 'rubik', 'sans-serif';
    color: rgb(96, 118, 96);

}
.about_day h2{
    font-size: 2.4rem;
}
.photo_wedding{
    display: flex;
    justify-content: end;
}
.photo_wedding img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}


.paragraphs_info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 40px;
    text-align: justify;
    
}
.info_icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_icon img{
    width: 15%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.info h2{
    color: rgb(96, 118, 96);
    font-family: 'Rubik', sans-serif;
    font-size: 2.4rem;
}
.info p{
    margin: 30px 0;
    color: rgb(96, 118, 96);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.6rem;
}
.info a{
    text-align: end;
    text-decoration: none;
    color: rgb(96, 118, 96);   
    padding: 10px; 
    font-family: 'rubik', 'sans-serif';
    font-size: 1.4rem;
}
.info a:hover{
    background-color: rgb(96, 118, 96);
    color: #f3f9fb;
    border-radius: 5px;
}
.phone_menu{
    display: none;
}

.nav_phone_menu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #f3f9fb;
    width: 100%;
    color: #607660;
}

.show {
    display: flex;
}

.contact_wedding{
    padding: 10% 20%;
    text-align: center;
    font-family: 'rubik', 'sans-serif';
}
.contact_wedding h2{
    font-size: 3rem;
    color: #607660;
}
.contact_wedding h3{
    font-size: 2.4rem;
    color: #c0a080;
}





/*pagina nuestra historia*/
.photo_our_story img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(0.5);
    position: relative;

}
.section_title{
    position: absolute;
    top: 25%;
    left: 10%;
    color: #f3f9fb;
    animation: entradaTitulo 3s;
}
.section_title h1{
    font-size: 4.2rem;
    font-family: 'rubik', 'sans-serif';
}

.characters h2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    font-size: 4.2rem;
    font-family: 'Dancing Script', cursive;
    color: #607660;
}
.main_characters{
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.profile{
    display: grid;
}

.name_vertical{
    grid-area: 1 / 1 / 10 / 4;
    display: flex;
    align-items: start;
    justify-content: center;
    line-height: 1;
    
}
.name_vertical h2{
    font-family: 'rubik', sans-serif;
    font-size: 1.4rem;
    color: #607660;
    width: 100%;
}

.photo_profile{
    grid-area: 1 / 4 / 6 / 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_profile img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.description{
    grid-area: 6 / 4 / 10 / 10;
    padding: 30px 20px;
}
.description h3{
    font-family: 'Dancing Script', cursive;
    font-size: 3.6rem;
    color: #c0a080;
    text-align: center;
}


.time_line{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.time_line div{
    height: 480px;
}
.time_line .years{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    border-right: 2px solid #c0a080;
    font-size: 2.4rem;
}

.time_line .years .year h2{
    margin-right: 15px;
    color: #607660;
    font-family: 'rubik', sans-serif;

}

.time_line .description_story{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 1.8rem;
    color: #607660;
    font-family: 'Rubik', sans-serif;
    padding-right: 280px;
    
}
.year_description h2{
    color: #c0a080;
    font-family: 'Dancing Script', cursive;
    margin-left: 15px;
    font-size: 2.4rem;
    font-weight: 300;
    text-align: justify;
}

.time_line .description_story h3{
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: 300;
}
.she_said_yes{
    margin-top: 150px;
    position: relative;
}
.photo_our_story2 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(0.5);
}

.she_said_yes .section_title2 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;;
    color: #f3f9fb;
    font-size: 4.2rem;
    text-align: center;
    z-index: 1; 
}


/****** DRES CODE ******/

.woman_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.woman_options h2{
    font-size: 4.2rem;
    color: #607660;
    font-family: 'rubik', 'sans-serif';
    padding: 20px 40px;
}
.information_dress_code{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    padding: 0 40px;
    gap: 40px;
}
.information_dress_code .title{
    display: flex;
    align-items: center;
}
.information_dress_code .title h2{
    color: #c0a080;
    font-size: 2.4rem;
    font-weight: 600;
}
.colors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.color{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: chocolate;
    margin: 20px;
}
.information_dress_code:not(:first-child){
    margin-top: 100px;
}

.reglas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.regla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}
.regla h2{
    font-size: 1.8rem;
    font-weight: 300;
}
.regla img{
    width: 60px;
    height: 60px;
}
.dress_examples h2{
    font-size: 2.4rem;
    font-weight: 300;
}


.title h2{
    font-size: 1.8rem;
    font-weight: 300;
}






/*keyframes*/
@keyframes entradaTitulo {
    from {color: transparent;}
    to {color: #f3f9fb;}
}
@keyframes spinFrame {
    from {
        transform: rotate(180);
    }
    to {color: #f3f9fb;}
}

/*Media querys*/
@media screen and (max-width: 700px) {
    
    .desktop_menu{
        display: none;
    }
    .phone_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(243, 249, 251);
        position: fixed;
        z-index: 1;
    }
    .phone_menu img{
        width: 25%;
    }
    .text_home{
        bottom: 2%;
        left: 5%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        width: 90%;
    }
    .text_home h1{
        font-size: 3rem;
    }
    .text_home h4{
        font-size: 1.8rem;
    }
    .menu_p img{
        width: 60%;
        cursor: pointer;
    }
    .litte_story{
        display: grid;
       grid-template-columns: 1fr;
       max-height: 800px;
    }
    .no_phone_img{
        display: none;
    }
    .frame_more_about{
        bottom: 30px;
    }
    .time_left{
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        gap: 30px 10px;
    }
    .about_day h3{
        font-size: 3rem;
    }
    .about_day h2{
        font-size: 1.8rem;
    }
    .slide img {
        height: 670px;
    }

    .nav_phone_menu li {
        padding: 10px;
        text-align: center;
    }
    
    .nav_phone_menu a {
        text-decoration: none;
        color: #607660;
    }

    .contact_wedding h2{
        font-size: 2.4rem;
        color: #607660;
    }
    .contact_wedding h3{
        font-size: 1.8rem;
        color: #c0a080;
    }


    /*NUESTRA historia media querys*/
    .photo_our_story img{
        height: 550px;
        object-position: top;
    }
    .section_title{
        top: 25%;
        left: 13%;
        font-size: 3rem;
    }
    .section_title h1{
        font-size: 3rem;
    }
    .main_characters{
        grid-template-columns: 1fr;
        padding: 20px 30px;
    }
    .time_line div{
        height: 680px;
    }
    .time_line .description_story{
        padding-right: 20px;
        
    }
    .she_said_yes .section_title2 {
        font-size: 2.4rem;
    }



    /***DRES CODE PHONE*****/
    
    .information_dress_code{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .woman_options h2{
        font-size: 3rem;
    }
    .color{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 20px;
    }
    .information_dress_code .title h2{
        font-size: 1.8rem;
        
    }
    .regla h2{
        font-size: 1.8rem;
        
    }
    .dress_examples h2{
        font-size: 1.8rem;
    }
    .man_options h2:first-child{
        font-size: 3rem;
        color: #c0a080;
    }

}



/**TABLET QUERYS***/
@media screen and (max-width: 900px) {
    .time_line .description_story{
        padding-right: 20px;
        
    }
    .she_said_yes .section_title2 {
        font-size: 3rem;
    }

}